<!-- #region Exercise Modal -->
<div class="modal-overlay" data-exercise-modal>
  <div
    class="exercise-modal"
    role="dialog"
    aria-modal="true"
    aria-labelledby="exercise-modal-title"
  >
    <button
      class="modal-close"
      type="button"
      aria-label="Close"
      data-modal-close
    >
      <svg class="modal-close-icon" width="24" height="24">
        <use href="img/sprite.svg#icon-x"></use>
      </svg>
    </button>

    <p class="exercise-modal-loading" data-role="exercise-loading">
      Loading...
    </p>

    <p class="exercise-modal-error" data-role="exercise-error" hidden></p>

    <div class="exercise-modal-body" data-role="exercise-content" hidden>
      <div class="exercise-modal-media" data-role="exercise-media">
        <img
          class="exercise-modal-gif"
          data-role="exercise-gif"
          src=""
          alt=""
          width="270"
          height="270"
        />
      </div>

      <div class="exercise-modal-content">
        <h2
          class="exercise-modal-title"
          id="exercise-modal-title"
          data-role="exercise-name"
        ></h2>

        <div class="exercise-modal-rating-row">
          <span
            class="exercise-modal-rating-value"
            data-role="exercise-rating-value"
          ></span>
          <div
            class="exercise-modal-stars"
            data-role="exercise-stars"
            aria-hidden="true"
          ></div>
        </div>

        <hr class="exercise-modal-divider" />

        <ul class="exercise-modal-details">
          <li class="exercise-modal-detail-item">
            <span class="exercise-modal-detail-label">Target</span>
            <span
              class="exercise-modal-detail-value"
              data-role="exercise-target"
            ></span>
          </li>
          <li class="exercise-modal-detail-item">
            <span class="exercise-modal-detail-label">Body part</span>
            <span
              class="exercise-modal-detail-value"
              data-role="exercise-body-part"
            ></span>
          </li>
          <li class="exercise-modal-detail-item">
            <span class="exercise-modal-detail-label">Equipment</span>
            <span
              class="exercise-modal-detail-value"
              data-role="exercise-equipment"
            ></span>
          </li>
          <li class="exercise-modal-detail-item">
            <span class="exercise-modal-detail-label">Popular</span>
            <span
              class="exercise-modal-detail-value"
              data-role="exercise-popularity"
            ></span>
          </li>
          <li class="exercise-modal-detail-item">
            <span class="exercise-modal-detail-label">Burned calories</span>
            <span
              class="exercise-modal-detail-value"
              data-role="exercise-calories"
            ></span>
          </li>
        </ul>

        <hr class="exercise-modal-divider" />

        <p
          class="exercise-modal-description"
          data-role="exercise-description"
        ></p>
      </div>
    </div>
    <div class="exercise-modal-actions">
      <button
        class="exercise-modal-btn-favorite btn light"
        type="button"
        data-role="exercise-favorite-btn"
      >
        <span data-role="exercise-favorite-text">Add to favorites</span>
        <svg class="btn-icon" width="20" height="20">
          <use href="img/sprite.svg#icon-heart"></use>
        </svg>
      </button>

      <button
        class="exercise-modal-btn-rating btn dark"
        type="button"
        data-rating-open
        data-role="exercise-rating-btn"
      >
        Give a rating
      </button>
    </div>
  </div>
</div>
<!-- #endregion Exercise Modal -->
