<div class="favor-info {=$extra-class}">
  <div class="favor-dailynorm" id="startTimerListItem">
    <div class="favor-dailynorm-icon">
      <svg width="20" height="20">
        <use href="./img/sprite.svg#icon-dumbbell"></use>
      </svg>
    </div>
    <div class="content-wrapper">
      <h3 class="dailynorm-value">110 min</h3>
      <p class="dailynorm-caption">Daily norm of sports</p>
      <p class="dailynorm-text">
        The World Health Organization recommends at least 150 minutes of
        moderate-intensity aerobic physical activity throughout the week for
        adults aged 18-64. However, what happens if we adjust that number to 110
        minutes every day? While it might seem like a high number to hit,
        dedicating 110 minutes daily to sporting activities may offer
        unparalleled benefits to physical health, mental well-being, and overall
        quality of life.
      </p>
    </div>
  </div>
  <div class="favor-img-wrap">
    <picture>
      <!-- Desktop -->
      <source
        media="(min-width: 1440px)"
        srcset="
          ./img/favorites/{=$img-prefix}-info-widget-desktop.avif    1x,
          ./img/favorites/{=$img-prefix}-info-widget-desktop@2x.avif 2x
        "
        type="image/avif"
        loading="lazy"
        decoding="async"
      />
      <source
        media="(min-width: 1440px)"
        srcset="
          ./img/favorites/{=$img-prefix}-info-widget-desktop.webp    1x,
          ./img/favorites/{=$img-prefix}-info-widget-desktop@2x.webp 2x
        "
        type="image/webp"
        loading="lazy"
        decoding="async"
      />
      <!-- Tablet -->
      <source
        media="(min-width: 768px)"
        srcset="
          ./img/favorites/{=$img-prefix}-info-widget-tablet.avif    1x,
          ./img/favorites/{=$img-prefix}-info-widget-tablet@2x.avif 2x
        "
        type="image/avif"
        loading="lazy"
        decoding="async"
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./img/favorites/{=$img-prefix}-info-widget-tablet.webp    1x,
          ./img/favorites/{=$img-prefix}-info-widget-tablet@2x.webp 2x
        "
        type="image/webp"
        loading="lazy"
        decoding="async"
      />
      <!-- Mobile -->
      <source
        srcset="
          ./img/favorites/{=$img-prefix}-info-widget-mobile.avif    1x,
          ./img/favorites/{=$img-prefix}-info-widget-mobile@2x.avif 2x
        "
        type="image/avif"
        loading="lazy"
        decoding="async"
      />
      <source
        srcset="
          ./img/favorites/{=$img-prefix}-info-widget-mobile.webp    1x,
          ./img/favorites/{=$img-prefix}-info-widget-mobile@2x.webp 2x
        "
        type="image/webp"
        loading="lazy"
        decoding="async"
      />
      <img
        src="./img/favorites/{=$img-prefix}-info-widget-mobile.webp"
        alt="Women sportswear working-out outdoor"
        width="344"
        height="141"
        loading="lazy"
        decoding="async"
      />
    </picture>
  </div>
</div>
