<!-- #region Burger Menu -->
<div class="burger-menu" data-burger-modal>
  <button class="burger-menu-close" type="button" aria-label="Close menu" data-modal-close>
    <svg width="32" height="32" stroke="currentColor" fill="none">
      <use href="img/sprite.svg#icon-menu-mobile-close"></use>
    </svg>
  </button>

  <nav class="burger-menu-nav" aria-label="Mobile navigation">
    <ul class="burger-menu-nav-list">
      <li class="burger-menu-nav-item">
        <a class="burger-menu-nav-link" href="./index.html">Home</a>
      </li>
      <li class="burger-menu-nav-item">
        <a class="burger-menu-nav-link" href="./favorites.html">Favorites</a>
      </li>
    </ul>
  </nav>

  <load src="/partials/components/socials.html" addition-classes="dark" />
</div>
<!-- #endregion Burger Menu -->