<section>
    <div class="container favor-container">
      <h2 class="favor-title">Favorites</h2>
      <div class="favor-quote">
        <div>
          <div class="favor-quote-container">
            <div class="favor-quote-icon">
              <svg width="18" height="20">
                <use href="./img/sprite.svg#icon-running-stick"></use>
              </svg>
            </div>
            <load src="/partials/components/quote.html" />
          </div>
          <load src="/partials/components/favor-info.html" />
        </div>
        <div class="favor-exercises" data-favorites>
          <ul class="favor-exercises-list"></ul>
        </div>
        <ul class="pag-list"></ul>
      </div>
    </div>
  </section>
