<!-- #region Footer -->
<footer class="site-footer">
  <div class="container site-footer-container">
    <div class="site-footer-brand">
      <a class="site-footer-logo" href="./" aria-label="Your Energy home">
        <svg class="site-footer-logo-icon" width="132" height="24">
          <use href="img/sprite.svg#icon-logo-text"></use>
        </svg>
      </a>

      <load
        src="/partials/components/socials.html"
        addition-classes="dark site-footer-socials"
      />
    </div>

    <p class="site-footer-slogan">
      Transforming your <em>body</em> shape with us
    </p>

    <form
      id="subscribe-form"
      class="subscribe-form"
      data-subscribe-form
      novalidate
    >
      <label class="subscribe-form-label" for="subscribe-email">
        Subscribe and learn about new exercises!
      </label>
      <input
        class="input width-100-percent"
        id="subscribe-email"
        name="email"
        type="email"
        placeholder="Email"
        pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
        autocomplete="email"
        required
      />
      <button class="btn light width-100-percent" type="submit" disabled>
        Send
      </button>
    </form>

    <div class="site-footer-legal">
      <p class="site-footer-copyright">Your Energy. All rights reserved.</p>
      <ul class="site-footer-policy-list">
        <li class="site-footer-policy-item">
          <a class="site-footer-policy-link" href="#">Privacy Policy</a>
        </li>
        <li class="site-footer-policy-item" aria-hidden="true">/</li>
        <li class="site-footer-policy-item">
          <a class="site-footer-policy-link" href="#">Terms of Service</a>
        </li>
      </ul>
      <p class="site-footer-year">&copy;2023</p>
    </div>
  </div>
</footer>
<!-- #endregion Footer -->
