<!-- #region Header -->
<header class="site-header">
  <div class="container site-header-container">
    <a
      class="site-header-logo"
      href="./index.html"
      aria-label="Your Energy home"
    >
      <svg class="site-header-logo-icon" width="132" height="24">
        <use href="img/sprite.svg#icon-logo-text"></use>
      </svg>
    </a>

    <nav class="site-nav" aria-label="Primary navigation">
      <ul class="site-nav-list">
        <li class="site-nav-item">
          <a class="site-nav-link {=$active-home}" href="./index.html">
            Home
          </a>
        </li>
        <li class="site-nav-item">
          <a class="site-nav-link {=$active-favorites}" href="./favorites.html">Favorites</a>
        </li>
      </ul>
    </nav>

    <load src="/partials/components/socials.html" addition-classes="light" />
    <button class="site-menu-button" type="button" aria-label="Open menu">
      <svg width="32" height="32" stroke="currentColor" fill="none">
        <use href="img/sprite.svg#icon-burger-menu"></use>
      </svg>
    </button>
  </div>
</header>
<!-- #endregion Header -->
