<!-- Наш спортивний лоадер-гантеля -->
<div id="loader" class="loader-backdrop">
  <svg
    class="dumbbell-spinner"
    viewBox="0 0 64 64"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <rect
      x="8"
      y="20"
      width="8"
      height="24"
      rx="2"
      fill="transparent"
      stroke="#9C9954"
      stroke-width="2"
    />
    <rect
      x="16"
      y="12"
      width="10"
      height="40"
      rx="3"
      fill="transparent"
      stroke="#9C9954"
      stroke-width="2"
    />
    <rect
      x="26"
      y="28"
      width="12"
      height="8"
      fill="transparent"
      stroke="#9C9954"
      stroke-width="2"
    />
    <rect
      x="38"
      y="12"
      width="10"
      height="40"
      rx="3"
      fill="transparent"
      stroke="#9C9954"
      stroke-width="2"
    />
    <rect
      x="48"
      y="20"
      width="8"
      height="24"
      rx="2"
      fill="transparent"
      stroke="#9C9954"
      stroke-width="2"
    />
  </svg>
</div>
