<ul class="social-list {=$theme}">
  <li class="social-item">
    <a
      href="https://www.facebook.com/goITclub/"
      class="social-link"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Facebook"
    >
      <svg class="social-icon" width="28" height="28">
        <use xlink:href="img/sprite.svg#icon-facebook"></use>
      </svg>
    </a>
  </li>
  <li class="social-item">
    <a
      href="https://www.instagram.com/goitclub/"
      class="social-link"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Instagram"
    >
      <svg class="social-icon" width="28" height="28">
        <use xlink:href="img/sprite.svg#icon-instagram"></use>
      </svg>
    </a>
  </li>
  <li class="social-item">
    <a
      href="https://www.youtube.com/goITclub/"
      class="social-link"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="YouTube"
    >
      <svg class="social-icon" width="28" height="28">
        <use xlink:href="img/sprite.svg#icon-youtube"></use>
      </svg>
    </a>
  </li>
</ul>
