<div class="ye-actions">
  <button type="button" class="ye-actions__button" data-action="reload-all">
    Reload all
  </button>
  <button
    type="button"
    class="ye-actions__button"
    data-action="reload-filters"
  >
    Reload filters
  </button>
  <button
    type="button"
    class="ye-actions__button"
    data-action="reload-exercises"
  >
    Reload exercises
  </button>
  <button type="button" class="ye-actions__button" data-action="reload-quote">
    Reload quote
  </button>
</div>
