:root {
  --font-family: 'DM Sans', sans-serif;
  --font-size: 18px;
  --color: #242424;
  --line-height: 1.33333;
  --letter-spacing: -0.02em;
  --font-weight: 400;
  --transition-time: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --light-gray: #F4F4F4;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  color: var(--color);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  background-color: var(--light-gray);
}

html {
  scroll-behavior: smooth;
}