  body {
    background-color: var(--color-light);
  }

  .favor-container {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  @media screen and (min-width: 768px) {
    .favor-container {
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }
  @media screen and (min-width: 1440px) {
    .favor-container {
      padding-top: 90px;
      padding-bottom: 50px;
    }
  }
  /**                          title */
  .favor-title {
    font-size: 28px;
    font-weight: 400;
    line-height: 1.36;
    letter-spacing: -0.02em;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 768px) {
    .favor-title {
      font-size: 44px;
      line-height: 1.09;
      margin-bottom: 32px;
    }
  }
  @media screen and (min-width: 1440px) {
    .favor-title {
      margin-bottom: 44px;
    }
  }
  /**                          quote */
  @media screen and (min-width: 1440px) {
    .favor-quote {
      display: flex;
      gap: 32px;
    }
  }
  .favor-quote-container {
    display: flex;
    gap: 18px;
    width: 100%;
    min-height: 159px;
    border-radius: 20px;
    background-color: var(--color-ink);
    padding: 20px;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 768px) {
    .favor-quote-container {
      min-height: 220px;
      gap: 16px;
      padding: 40px;
      margin-bottom: 16px;
    }
  }
  @media screen and (min-width: 1440px) {
    .favor-quote-container {
      gap: 16px;
      width: 494px;
      min-height: 230px;
    }
  }
  .favor-quote-icon {
    position: relative;
    background-color: rgba(244, 244, 244, 0.2);
    min-width: 32px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }
  .favor-quote-icon svg {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    fill: var(--color-light);
  }
  .favor-quote-wrap {
    position: relative;
    min-width: 200px;
  }
  @media screen and (min-width: 768px) {
    .favor-quote-wrap {
      max-width: 574px;
      min-width: 560px;
    }
  }
  @media screen and (min-width: 1440px) {
    .favor-quote-wrap {
      min-width: 360px;
    }
  }
  .favor-quote-wrap h3 {
    color: var(--color-light);
    font-weight: 500;
    margin-bottom: 6px;
  }
  @media screen and (min-width: 768px) {
    .favor-quote-wrap h3 {
      font-size: 24px;
      line-height: 1.33;
    }
  }
  .favor-quote-wrap p {
    color: rgba(244, 244, 244, 0.6);
  }
  @media screen and (min-width: 768px) {
    .favor-quote-wrap p {
      margin-bottom: 18px;
    }
  }
  .favor-quote-wrap h4 {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 18px;
    color: var(--color-light);
    margin-top: 16px;
  }
  @media screen and (min-width: 768px) {
    .favor-quote-wrap h4 {
      display: block;
      color: #f4f4f4;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
      margin-top: 18px;
    }
  }
  .favor-quote-wrap svg {
    position: absolute;
    top: 0;
    right: 0;
    fill: var(--color-light);
  }
  /**                          dailynorm */
  @media screen and (min-width: 768px) {
    .favor-info {
      display: flex;
      gap: 16px;
      height: 141px;
      margin-bottom: 0;
    }
  }
  .favor-dailynorm {
    position: relative;
    border-radius: 20px;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 768px) {
    .favor-dailynorm {
      width: 344px;
      height: 141px;
      margin-bottom: 0;
      border-radius: 15px;
    }
  }
  @media screen and (min-width: 1440px) {
    .favor-dailynorm {
      width: 239px;
    }
  }
  .favor-dailynorm svg {
    fill: var(--color-ink);
    margin-bottom: 15px;
  }
  .favor-dailynorm h3 {
    font-weight: 500;
    margin-bottom: 6px;
  }
  @media screen and (min-width: 768px) {
    .favor-dailynorm h3 {
      font-size: 24px;
      line-height: 1.33;
    }
  }
  .favor-dailynorm p {
    color: rgba(36, 36, 36, 0.6);
  }
  /**                          img */
  .favor-img-wrap {
    border-radius: 20px;
    overflow: hidden;
  }
  @media screen and (min-width: 768px) {
    .favor-img-wrap {
      width: 344px;
      height: 141px;
    }
  }
  @media screen and (min-width: 1440px) {
    .favor-img-wrap {
      width: 239px;
    }
  }
  /**                          exercises */
  .favor-exercises {
    padding-top: 40px;
  }
  @media screen and (min-width: 768px) {
    .favor-exercises {
      padding-top: 64px;
    }
  }
  @media screen and (min-width: 1440px) {
    .favor-exercises {
      min-width: 850px;
      height: 487px;
      padding-top: 0;
      overflow: auto;
    }
    .favor-exercises::-webkit-scrollbar {
      width: 8px;
    }
    .favor-exercises::-webkit-scrollbar-thumb {
      background-color: var(--color-ink);
      border-radius: 12px;
      border: none;
    }
  }
  .favor-exercises-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  @media screen and (min-width: 768px) {
    .favor-exercises-list {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 32px 16px;
    }
  }
  .favor-exercises-list p {
    text-align: center;
  }
  .favor-exercises-item {
    display: flex;
    width: 100%;
  }
  @media screen and (min-width: 768px) {
    .favor-exercises-item {
      width: calc((100% - 16px) / 2);
    }
  }
  .favor-exercises-item .workout-card {
    max-width: none;
    width: 100%;
    padding: 14px;
    border-radius: 15px;
  }
  .favor-exercises-item .workout-btn-start {
    top: 14px;
    right: 14px;
  }
  .favor-exercises-noitems {
    padding: 40px 8px 0 9px;
  }
  @media screen and (min-width: 768px) {
    .favor-exercises-noitems {
      padding: 132px 75px 0;
    }
  }
  @media screen and (min-width: 1440px) {
    .favor-exercises-noitems {
      padding: 102px 148px 0;
    }
  }
  .favor-exercises-text {
    font-size: 18px;
    line-height: 1.33;
  }
