/* #region Reset */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  font-size: inherit;
  font-family: inherit;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  color: currentColor;
  text-decoration: none;
  font-size: inherit;
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

img,
svg {
  display: block;
}

address {
  font-style: normal;
}
img {
  max-width: 100%;
  object-fit: cover;
  height: auto;
}

input,
textarea,
button {
  font-family: inherit;
  line-height: inherit;
}
/* #endregion Reset */
